Whatsapp Guard.json
{
  "name": "Whatsapp Guard",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-group-moderation",
        "options": {}
      },
      "id": "abf0d9d9-d132-4081-a4af-56c537609255",
      "name": "Evolution Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1952,
        352
      ],
      "webhookId": "03d1e221-ae33-4249-bc71-b01e86c72992"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst event =\n  body.event ||\n  body.type ||\n  body.eventName ||\n  body.trigger ||\n  body.data?.event ||\n  'UNKNOWN';\n\nconst payload = body.data ?? body.payload ?? body;\n\nconst key = payload.key || payload.messageKey || {};\nconst message = payload.message || payload.data?.message || {};\nconst groupJid =\n  key.remoteJid ||\n  payload.remoteJid ||\n  payload.chatId ||\n  payload.groupJid ||\n  payload.id ||\n  null;\n\nconst senderJid =\n  key.participant ||\n  payload.participant ||\n  payload.sender ||\n  payload.senderJid ||\n  payload.key?.participant ||\n  null;\n\nconst participantsChanged =\n  payload.participants ||\n  payload.users ||\n  payload.actionParticipants ||\n  [];\n\nfunction extractText(msg) {\n  if (!msg) return '';\n  if (typeof msg.conversation === 'string') return msg.conversation;\n  if (msg.extendedTextMessage?.text) return msg.extendedTextMessage.text;\n  if (msg.imageMessage?.caption) return msg.imageMessage.caption;\n  if (msg.videoMessage?.caption) return msg.videoMessage.caption;\n  if (msg.buttonsResponseMessage?.selectedDisplayText) return msg.buttonsResponseMessage.selectedDisplayText;\n  if (msg.listResponseMessage?.title) return msg.listResponseMessage.title;\n  if (msg.templateButtonReplyMessage?.selectedDisplayText) return msg.templateButtonReplyMessage.selectedDisplayText;\n  return '';\n}\n\nconst messageText = extractText(message);\nconst isGroup = !!groupJid && String(groupJid).endsWith('@g.us');\n\nfunction normalizePhone(value) {\n  if (!value) return null;\n  return String(value).replace(/[^0-9]/g, '');\n}\n\nreturn [{\n  json: {\n    receivedAt: new Date().toISOString(),\n    event,\n    raw: body,\n    payload,\n    key,\n    message,\n    messageId: key.id || payload.id || null,\n    groupJid,\n    senderJid,\n    senderPhone: normalizePhone(senderJid),\n    remotePhone: normalizePhone(groupJid),\n    messageText,\n    fromMe: !!key.fromMe || !!payload.fromMe,\n    isGroup,\n    participantAction: payload.action || payload.operation || null,\n    participantsChanged,\n  }\n}];"
      },
      "id": "f884a400-5012-445a-86b2-9cff57c66b41",
      "name": "Normalize Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "186f18c7-7e36-45d8-84ca-4f49893bf201",
              "leftValue": "={{ $json.event }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "3b249861-6056-420d-aaee-557ba3008867",
              "leftValue": "={{ $json.isGroup }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "a7e3ec52-9e0a-4c77-9dd7-1f2fdf66885c",
              "leftValue": "={{ $json.fromMe }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3b144c28-fba5-4fd0-9d13-ad95720358ac",
      "name": "If Group Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1248,
        256
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH policy AS (\n  SELECT\n    gp.group_jid,\n    gp.group_name,\n    gp.only_admins_can_post,\n    gp.auto_delete_enabled,\n    gp.auto_remove_enabled,\n    gp.min_score_to_remove,\n    gp.min_score_to_delete,\n    gp.admin_alert_number\n  FROM group_policies gp\n  WHERE gp.group_jid = '{{ $json.groupJid }}'\n  LIMIT 1\n)\nSELECT\n  COALESCE(\n    (SELECT row_to_json(policy) FROM policy),\n    '{}'::json\n  ) AS policy,\n  COALESCE(\n    (\n      SELECT json_agg(ts.phone)\n      FROM trusted_senders ts\n      WHERE ts.active = true\n        AND (\n          ts.group_jid = '{{ $json.groupJid }}'\n          OR ts.group_jid IS NULL\n        )\n    ),\n    '[]'::json\n  ) AS whitelist,\n  COALESCE(\n    (\n      SELECT json_agg(cs)\n      FROM contact_scores cs\n      WHERE cs.phone = '{{ $json.senderPhone }}'\n      LIMIT 1\n    ),\n    '[]'::json\n  ) AS score_rows;",
        "options": {}
      },
      "id": "97d98507-1ff5-4668-abe7-408c649468d3",
      "name": "Load Group Policy",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -768,
        336
      ],
      "credentials": {
        "postgres": {
          "id": "tD9WFtZmx07tM8sC",
          "name": "SUPABASE CLOUD"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ev = $('Normalize Event').first().json || {};\nconst membersResp = $json.membersResp || {};\nconst policyResp = $json.policyResp || {};\n\nconst digitsOnly = (value) => String(value || '').replace(/[^0-9]/g, '');\n\nlet participants = [];\nif (Array.isArray(membersResp)) {\n  participants = membersResp;\n} else if (Array.isArray(membersResp.participants)) {\n  participants = membersResp.participants;\n} else if (Array.isArray(membersResp.data)) {\n  participants = membersResp.data;\n} else if (Array.isArray(membersResp.data?.participants)) {\n  participants = membersResp.data.participants;\n}\n\nconst senderPhone = digitsOnly(ev.senderPhone);\nconst senderJid = ev.senderJid || '';\n\nconst sender = participants.find((p) => {\n  const candidateId = p?.id || p?.jid || p?.participant || '';\n  const candidatePhone = digitsOnly(candidateId);\n\n  return (\n    (senderPhone && candidatePhone === senderPhone) ||\n    (senderJid && candidateId === senderJid)\n  );\n});\n\nconst senderAdmin = !!(\n  sender &&\n  (\n    sender.admin === true ||\n    sender.admin === 'admin' ||\n    sender.admin === 'superadmin' ||\n    sender.isAdmin === true ||\n    sender.isAdmin === 'admin' ||\n    sender.isAdmin === 'superadmin'\n  )\n);\n\nconst policy = policyResp.policy || {};\n\nconst whitelistRaw = Array.isArray(policyResp.whitelist) ? policyResp.whitelist : [];\nconst whitelist = whitelistRaw.map((v) => digitsOnly(v)).filter(Boolean);\n\nconst senderWhitelisted = senderPhone ? whitelist.includes(senderPhone) : false;\n\nif (!senderAdmin && !senderWhitelisted) {\n  return [\n    {\n      json: {\n        ...ev,\n        participantsCount: participants.length,\n        senderLookup: {\n          senderPhone,\n          senderJid,\n          senderFound: !!sender,\n          senderMatchedId: sender?.id || sender?.jid || sender?.participant || null\n        },\n        senderAdmin,\n        senderWhitelisted,\n        whitelist,\n        policy,\n        score: 999,\n        reasons: ['non_admin_blocked'],\n        shouldModerate: true,\n        shouldDelete: true,\n        shouldRemove: false\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      ...ev,\n      participantsCount: participants.length,\n      senderLookup: {\n        senderPhone,\n        senderJid,\n        senderFound: !!sender,\n        senderMatchedId: sender?.id || sender?.jid || sender?.participant || null\n      },\n      senderAdmin,\n      senderWhitelisted,\n      whitelist,\n      policy,\n      score: 0,\n      reasons: senderAdmin ? ['sender_admin_allowed'] : ['sender_whitelisted_allowed'],\n      shouldModerate: false,\n      shouldDelete: false,\n      shouldRemove: false\n    }\n  }\n];"
      },
      "id": "c0c72e41-6b07-4d6b-a3b7-1f019c6041d5",
      "name": "Evaluate Moderation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2cffe80-fb8c-4362-ab40-03e551da588b",
              "leftValue": "={{ $json.shouldModerate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b6214b30-5726-494f-8a4d-f8beb3a881df",
      "name": "If Should Moderate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        256
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO moderation_incidents (\n  occurred_at,\n  group_jid,\n  sender_phone,\n  sender_jid,\n  message_id,\n  message_text,\n  event_name,\n  score,\n  reasons,\n  delete_attempted,\n  remove_attempted,\n  raw_payload\n) VALUES (\n  NOW(),\n  '{{ $json.groupJid }}',\n  '{{ $json.senderPhone }}',\n  '{{ $json.senderJid }}',\n  '{{ $json.messageId }}',\n  $${{ ($json.messageText || '').replace(/\\$/g, 'USD') }}$$,\n  '{{ $json.event }}',\n  {{ $json.score }},\n  $${{ JSON.stringify($json.reasons || []) }}$$::jsonb,\n  {{ $json.shouldDelete ? 'true' : 'false' }},\n  {{ $json.shouldRemove ? 'true' : 'false' }},\n  $${{ JSON.stringify($json.raw || {}) }}$$::jsonb\n);",
        "options": {}
      },
      "id": "27ce8ca8-04be-4a1e-ab56-0c0d0f972f7e",
      "name": "Log Incident",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        336,
        144
      ],
      "credentials": {
        "postgres": {
          "id": "tD9WFtZmx07tM8sC",
          "name": "SUPABASE CLOUD"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3839375-6dca-4cc6-9a5a-06bee40068b1",
              "leftValue": "={{ $json.shouldDelete }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7d3ca8f1-1ef2-4287-a616-19ecafd42a99",
      "name": "If Delete Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        288
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $env.EVOLUTION_BASE_URL + '/chat/deleteMessageForEveryone/' + $env.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "1f51d9da-bc76-4776-a959-be19e3da5bfd",
      "name": "Delete Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        272
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "af75845d-5175-429a-a846-151e6b1699ab",
              "leftValue": "={{ $json.shouldRemove }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3da95675-5789-4228-906b-1b3272ab8971",
      "name": "If Remove Participant",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_BASE_URL + '/group/updateParticipants/' + $env.EVOLUTION_INSTANCE + '?groupJid=' + encodeURIComponent($json.groupJid) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "ce42aa77-5b2d-473f-bee6-b504975a0211",
      "name": "Remove Participant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        464
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "770fff67-f323-47d8-8b85-3f42f774afde",
              "leftValue": "={{ $json.event }}",
              "rightValue": "GROUP_PARTICIPANTS_UPDATE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "f87bb449-e855-4f20-bd36-e171166f3e7b",
              "leftValue": "={{ $json.isGroup }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "088e9393-cef2-4cdb-bee4-476ef31c67dc",
      "name": "If Participant Update",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1984,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "const ev = $json;\nconst changed = ev.participantsChanged || [];\nreturn changed.map(participant => {\n  const phone = String(participant).replace(/[^0-9]/g, '');\n  return {\n    json: {\n      groupJid: ev.groupJid,\n      participantJid: participant,\n      phone,\n      action: ev.participantAction || 'unknown',\n      seenAt: ev.receivedAt,\n    }\n  };\n});"
      },
      "id": "287ba0b7-f09d-4ec8-b3cb-681c1f513630",
      "name": "Prepare Participant Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1712,
        704
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO participant_snapshots (group_jid, participant_jid, phone, is_present, source, last_seen_at, updated_at)\nVALUES (\n  '{{ $json.groupJid }}',\n  '{{ $json.participantJid }}',\n  '{{ $json.phone }}',\n  {{ $json.action === 'remove' ? 'false' : 'true' }},\n  'webhook',\n  '{{ $json.seenAt }}',\n  NOW()\n)\nON CONFLICT (group_jid, phone)\nDO UPDATE SET\n  participant_jid = EXCLUDED.participant_jid,\n  is_present = EXCLUDED.is_present,\n  source = EXCLUDED.source,\n  last_seen_at = EXCLUDED.last_seen_at,\n  updated_at = NOW();",
        "options": {}
      },
      "id": "bf6d78a5-7bb4-4b0d-84a5-721019de588c",
      "name": "Upsert Participant Snapshot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1456,
        704
      ],
      "credentials": {
        "postgres": {
          "id": "tD9WFtZmx07tM8sC",
          "name": "SUPABASE CLOUD"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.filter(item => !!item.json.policy?.admin_alert_number);"
      },
      "id": "5b5d9957-2a3c-436d-b8e3-66f2497223d3",
      "name": "Filter Admin Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_BASE_URL + '/message/sendText/' + $env.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "9f87fd18-6164-402d-8415-56865bc86a0c",
      "name": "Send Admin Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        32
      ]
    },
    {
      "parameters": {
        "content": "## FLUXO 01 - MODERAÇÃO EM TEMPO REAL",
        "height": 1008,
        "width": 3092
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2096,
        -80
      ],
      "typeVersion": 1,
      "id": "0f3f0adc-f45b-4f76-b175-28ed9387b5a1",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "id": "6145c2fe-04fd-46d3-aefd-659b9017f6c2",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1872,
        -496
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.EVOLUTION_BASE_URL + '/group/fetchAllGroups/' + $env.EVOLUTION_INSTANCE }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "getParticipants",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "96c9496e-863e-4d5f-a865-b30450c06f2c",
      "name": "Fetch All Groups",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1520,
        -672
      ]
    },
    {
      "parameters": {
        "jsCode": "const root = $json;\n\n// tenta descobrir onde está a lista real de grupos\nlet groups = [];\n\nif (Array.isArray(root)) {\n  groups = root;\n} else if (Array.isArray(root.data)) {\n  groups = root.data;\n} else if (Array.isArray(root.groups)) {\n  groups = root.groups;\n} else if (Array.isArray(root.data?.groups)) {\n  groups = root.data.groups;\n} else {\n  groups = [];\n}\n\nconst out = [];\n\nfor (const group of groups) {\n  if (!group || typeof group !== 'object') {\n    continue;\n  }\n\n  const participants = Array.isArray(group.participants) ? group.participants : [];\n  const groupJid = group.id || group.jid || group.groupJid || null;\n  const groupName = group.subject || group.name || '';\n  const announce = !!group.announce;\n  const restrict = !!group.restrict;\n\n  if (!participants.length) {\n    out.push({\n      json: {\n        groupJid,\n        groupName,\n        announce,\n        restrict,\n        participantJid: null,\n        phone: null,\n        isAdmin: false,\n        isPresent: true,\n        source: 'initial-sync'\n      }\n    });\n    continue;\n  }\n\n  for (const p of participants) {\n    if (!p || typeof p !== 'object') {\n      continue;\n    }\n\n    const participantJid = p.id || p.jid || p.participant || null;\n    const adminFlag = p.admin === 'admin' || p.admin === 'superadmin' || p.admin === true;\n\n    out.push({\n      json: {\n        groupJid,\n        groupName,\n        announce,\n        restrict,\n        participantJid,\n        phone: String(participantJid || '').replace(/[^0-9]/g, ''),\n        isAdmin: adminFlag,\n        isPresent: true,\n        source: 'initial-sync'\n      }\n    });\n  }\n}\n\nreturn out;"
      },
      "id": "ff496016-af14-4ce2-9f25-022bf2f91270",
      "name": "Explode Groups",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        -496
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO participant_snapshots (\n  group_jid, participant_jid, phone, is_admin, is_present, source, last_seen_at, updated_at\n) VALUES (\n  '{{ $json.groupJid }}',\n  {{ $json.participantJid ? \"'\" + $json.participantJid + \"'\" : \"NULL\" }},\n  {{ $json.phone ? \"'\" + $json.phone + \"'\" : \"NULL\" }},\n  {{ $json.isAdmin ? 'true' : 'false' }},\n  true,\n  '{{ $json.source }}',\n  NOW(),\n  NOW()\n)\nON CONFLICT (group_jid, phone)\nDO UPDATE SET\n  participant_jid = EXCLUDED.participant_jid,\n  is_admin = EXCLUDED.is_admin,\n  is_present = true,\n  source = EXCLUDED.source,\n  last_seen_at = NOW(),\n  updated_at = NOW();",
        "options": {}
      },
      "id": "c228cb80-b65a-499d-94bc-eb222f0759f7",
      "name": "Upsert Snapshot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -880,
        -496
      ],
      "credentials": {
        "postgres": {
          "id": "tD9WFtZmx07tM8sC",
          "name": "SUPABASE CLOUD"
        }
      }
    },
    {
      "parameters": {
        "content": "## FLUXO 02 - Inteligência da operação",
        "height": 560,
        "width": 1264,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2096,
        976
      ],
      "typeVersion": 1,
      "id": "008a5f9a-88e3-42a2-bee8-449de4ea7767",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "a457cad5-3d35-4054-9f2c-afef8b149e29",
      "name": "Every 10 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2032,
        1216
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  ps.phone,\n  COUNT(DISTINCT ps.group_jid) FILTER (WHERE ps.is_present = true AND ps.phone IS NOT NULL) AS group_count,\n  COUNT(*) FILTER (WHERE ps.is_present = true AND ps.updated_at >= NOW() - INTERVAL '24 hours' AND ps.phone IS NOT NULL) AS recent_joins_24h,\n  COALESCE(SUM(CASE WHEN mi.occurred_at >= NOW() - INTERVAL '7 days' THEN 1 ELSE 0 END), 0) AS incidents_7d,\n  COALESCE(SUM(CASE WHEN mi.remove_attempted = true AND mi.occurred_at >= NOW() - INTERVAL '30 days' THEN 1 ELSE 0 END), 0) AS removals_30d,\n  COALESCE(SUM(CASE WHEN mi.delete_attempted = true AND mi.occurred_at >= NOW() - INTERVAL '7 days' THEN 1 ELSE 0 END), 0) AS deletions_7d\nFROM participant_snapshots ps\nLEFT JOIN moderation_incidents mi\n  ON mi.sender_phone = ps.phone\nWHERE ps.phone IS NOT NULL\nGROUP BY ps.phone;",
        "options": {}
      },
      "id": "cb7f707b-a050-4097-9185-cfd25d7941ea",
      "name": "Aggregate Signals",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1760,
        1216
      ],
      "credentials": {
        "postgres": {
          "id": "tD9WFtZmx07tM8sC",
          "name": "SUPABASE CLOUD"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const row = item.json;\n  const groupCount = Number(row.group_count || 0);\n  const recentJoins = Number(row.recent_joins_24h || 0);\n  const incidents = Number(row.incidents_7d || 0);\n  const removals = Number(row.removals_30d || 0);\n  const deletions = Number(row.deletions_7d || 0);\n\n  let score =\n    (groupCount * 10) +\n    (recentJoins * 8) +\n    (incidents * 15) +\n    (removals * 20) +\n    (deletions * 8);\n\n  if (groupCount >= 3) score += 15;\n  if (groupCount >= 5) score += 15;\n  if (recentJoins >= 3) score += 10;\n\n  score = Math.min(100, Math.max(0, score));\n\n  let riskLevel = 'low';\n  if (score >= 70) riskLevel = 'critical';\n  else if (score >= 50) riskLevel = 'high';\n  else if (score >= 30) riskLevel = 'medium';\n\n  const reasons = [];\n  if (groupCount >= 3) reasons.push('multi_group_presence');\n  if (recentJoins >= 3) reasons.push('burst_join_pattern');\n  if (incidents > 0) reasons.push('message_incidents');\n  if (removals > 0) reasons.push('prior_removals');\n\n  return {\n    json: {\n      phone: row.phone,\n      score,\n      riskLevel,\n      reasonSummary: reasons,\n      metrics: {\n        groupCount,\n        recentJoins,\n        incidents,\n        removals,\n        deletions,\n      }\n    }\n  };\n});"
      },
      "id": "ae85515a-4883-4a35-8270-564eba3f8d75",
      "name": "Calculate Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        1216
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO contact_scores (\n  phone, score, risk_level, reason_summary, metrics, updated_at\n) VALUES (\n  '{{ $json.phone }}',\n  {{ $json.score }},\n  '{{ $json.riskLevel }}',\n  $${{ JSON.stringify($json.reasonSummary || []) }}$$::jsonb,\n  $${{ JSON.stringify($json.metrics || {}) }}$$::jsonb,\n  NOW()\n)\nON CONFLICT (phone)\nDO UPDATE SET\n  score = EXCLUDED.score,\n  risk_level = EXCLUDED.risk_level,\n  reason_summary = EXCLUDED.reason_summary,\n  metrics = EXCLUDED.metrics,\n  updated_at = NOW();",
        "options": {}
      },
      "id": "2fcb801a-fd39-480c-9e80-e72d79345e79",
      "name": "Upsert Contact Score",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1248,
        1216
      ],
      "credentials": {
        "postgres": {
          "id": "tD9WFtZmx07tM8sC",
          "name": "SUPABASE CLOUD"
        }
      }
    },
    {
      "parameters": {
        "content": "## FLUXO 00 - BOOTSTRAP DO SISTEMA\n",
        "height": 560,
        "width": 1460,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2080,
        -768
      ],
      "typeVersion": 1,
      "id": "1a1dcf83-4abb-4084-941c-5b53bb773bd4",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "wttpGuard1",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        576,
        -16
      ],
      "id": "53cc74f7-128b-4c83-924d-022b375ff7ab",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "QoHis1MRhlfer3A2",
          "name": "Whatsapp Guard"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "delete-message",
        "instanceName": "wttpGuard1",
        "remoteJid": "={{ $json.raw.data.key.remoteJid }}",
        "messageId": "={{ $json.raw.data.key.id }}",
        "participant": "={{ $json.raw.data.key.participantAlt \n\n $json.raw.data.key.participant }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        576,
        256
      ],
      "id": "29ee5e49-b496-492f-b72f-255a6227f70a",
      "name": "Deletar mensagem",
      "credentials": {
        "evolutionApi": {
          "id": "QoHis1MRhlfer3A2",
          "name": "Whatsapp Guard"
        }
      }
    },
    {
      "parameters": {
        "resource": "groups-api",
        "operation": "update-participants",
        "instanceName": "wttpGuard1",
        "action": "remove"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        576,
        448
      ],
      "id": "4e7a8c83-0ac4-46ea-b620-71d3dfbce399",
      "name": "Atualizar membros do grupo",
      "credentials": {
        "evolutionApi": {
          "id": "QoHis1MRhlfer3A2",
          "name": "Whatsapp Guard"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## backup do node evolution",
        "height": 752,
        "width": 288,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        -112
      ],
      "typeVersion": 1,
      "id": "3c21beab-ec87-4cf4-94e9-327dae8ffcc0",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## backup do node evolution",
        "height": 240,
        "width": 288,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1056,
        -112
      ],
      "typeVersion": 1,
      "id": "67a49b30-63da-4a50-bb81-b313576ee809",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "resource": "groups-api",
        "operation": "fetch-groups",
        "instanceName": "wttpGuard1",
        "searchMethod": "fetchAll",
        "getParticipants": true
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -1616,
        -496
      ],
      "id": "512fabfb-a324-4317-b40f-2a2b97164e46",
      "name": "Buscar grupos1",
      "credentials": {
        "evolutionApi": {
          "id": "QoHis1MRhlfer3A2",
          "name": "Whatsapp Guard"
        }
      }
    },
    {
      "parameters": {
        "content": "## backup do node evolution",
        "height": 240,
        "width": 288,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1600,
        -768
      ],
      "typeVersion": 1,
      "id": "ad9ecfee-e8d2-4123-a854-993e055e034a",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0ca9eb0f-1125-4860-b2e5-a1b2f33d8c0a",
              "name": "data[1]",
              "value": "={{ $json.data[1] }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1408,
        -496
      ],
      "id": "62af4dec-500b-4e7d-b1cb-20059b065751",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "08bfe97e-0399-4629-ba79-e9bc953fb5f9",
              "leftValue": "={{ $json.body.data.key.remoteJid }}",
              "rightValue": "120363425969848999@g.us",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1744,
        352
      ],
      "id": "f378a1e6-9b38-4860-af6a-a66d43d0e56d",
      "name": "É O GRUPO DE TESTE?"
    },
    {
      "parameters": {
        "url": "={{ $env.EVOLUTION_BASE_URL + '/group/participants/' + $env.EVOLUTION_INSTANCE }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "groupJid",
              "value": "={{ $('Normalize Event').first().json.groupJid }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "4fc8d500-5370-47f6-b160-0b86ac36a1fb",
      "name": "Find Group Members2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -976,
        -16
      ]
    },
    {
      "parameters": {
        "resource": "groups-api",
        "operation": "fetch-groups",
        "instanceName": "wttpGuard1",
        "searchMethod": "groupJid",
        "groupJid": "={{ $json.raw.data.key.remoteJid }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -768,
        144
      ],
      "id": "e0c7ddfb-b334-4a85-b277-9108e07734a4",
      "name": "Find Group Members",
      "credentials": {
        "evolutionApi": {
          "id": "QoHis1MRhlfer3A2",
          "name": "Whatsapp Guard"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -416,
        240
      ],
      "id": "837c3ace-482f-439c-b58a-3504b4c2ad30",
      "name": "Merge"
    }
  ],
  "pinData": {
    "Buscar grupos1": [
      {
        "json": {
          "success": true,
          "data": [
            {
              "id": "120363407959430000@g.us",
              "subject": "#7900126 Marcelo + NexIA",
              "subjectOwner": "60958554738772@lid",
              "subjectTime": 1768496806,
              "pictureUrl": "https://pps.whatsapp.net/v/t61.24694-24/582688454_825751343824920_830256586530497086_n.jpg?ccb=11-4&oh=01_Q5Aa4QHu_yhNzfmR-wYn-0EY03eZG83TeeozLr-5dpbSZiEVYQ&oe=69E0D7E9&_nc_sid=5e03e0&_nc_cat=111",
              "size": 4,
              "creation": 1768496806,
              "owner": "60958554738772@lid",
              "restrict": false,
              "announce": false,
              "isCommunity": false,
              "isCommunityAnnounce": false,
              "participants": [
                {
                  "id": "244731699314908@lid",
                  "phoneNumber": "555189600000@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "203538667942139@lid",
                  "phoneNumber": "554188869779@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "60958554738772@lid",
                  "phoneNumber": "5521982494172@s.whatsapp.net",
                  "admin": "superadmin"
                },
                {
                  "id": "150852857757875@lid",
                  "phoneNumber": "551152866796@s.whatsapp.net",
                  "admin": null
                }
              ]
            },
            {
              "id": "120363425969848999@g.us",
              "subject": "Nexia Chat",
              "subjectOwner": "203538667942139@lid",
              "subjectTime": 1771861522,
              "pictureUrl": null,
              "size": 4,
              "creation": 1771861522,
              "owner": "203538667942139@lid",
              "restrict": false,
              "announce": false,
              "isCommunity": false,
              "isCommunityAnnounce": false,
              "participants": [
                {
                  "id": "203538667942139@lid",
                  "phoneNumber": "554188869779@s.whatsapp.net",
                  "admin": "superadmin"
                },
                {
                  "id": "8955023630474@lid",
                  "phoneNumber": "553171875159@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "60958554738772@lid",
                  "phoneNumber": "5521982494172@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "150852857757875@lid",
                  "phoneNumber": "551152866796@s.whatsapp.net",
                  "admin": "admin"
                }
              ]
            },
            {
              "id": "120363423576216367@g.us",
              "subject": "CRM - Nexia",
              "subjectOwner": "203538667942139@lid",
              "subjectTime": 1774959449,
              "pictureUrl": null,
              "size": 4,
              "creation": 1774959449,
              "owner": "203538667942139@lid",
              "restrict": false,
              "announce": false,
              "isCommunity": false,
              "isCommunityAnnounce": false,
              "participants": [
                {
                  "id": "203538667942139@lid",
                  "phoneNumber": "554188869779@s.whatsapp.net",
                  "admin": "superadmin"
                },
                {
                  "id": "8955023630474@lid",
                  "phoneNumber": "553171875159@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "11892865159319@lid",
                  "phoneNumber": "5512997063401@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "150852857757875@lid",
                  "phoneNumber": "551152866796@s.whatsapp.net",
                  "admin": null
                }
              ]
            },
            {
              "id": "120363402379148579@g.us",
              "subject": "#7903625 NexIA + Loucos por Leilões",
              "subjectOwner": "60958554738772@lid",
              "subjectTime": 1751479953,
              "pictureUrl": "https://pps.whatsapp.net/v/t61.24694-24/510597427_1292830135796227_1677917779721997894_n.jpg?ccb=11-4&oh=01_Q5Aa4QE7jae7ECHBL_FOXB7n9n17GIgw5_jPwCHVzJYg4O15NQ&oe=69E0EEE0&_nc_sid=5e03e0&_nc_cat=102",
              "size": 5,
              "creation": 1751479953,
              "owner": "60958554738772@lid",
              "restrict": false,
              "announce": false,
              "isCommunity": false,
              "isCommunityAnnounce": false,
              "participants": [
                {
                  "id": "203538667942139@lid",
                  "phoneNumber": "554188869779@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "165785888628807@lid",
                  "phoneNumber": "553185679023@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "266399725400082@lid",
                  "phoneNumber": "553175783458@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "60958554738772@lid",
                  "phoneNumber": "5521982494172@s.whatsapp.net",
                  "admin": "superadmin"
                },
                {
                  "id": "150852857757875@lid",
                  "phoneNumber": "551152866796@s.whatsapp.net",
                  "admin": null
                }
              ]
            },
            {
              "id": "120363408483672794@g.us",
              "subject": "NexIA Care",
              "subjectOwner": "60958554738772@lid",
              "subjectTime": 1774015716,
              "pictureUrl": null,
              "size": 5,
              "creation": 1774015716,
              "owner": "60958554738772@lid",
              "restrict": false,
              "announce": false,
              "isCommunity": false,
              "isCommunityAnnounce": false,
              "participants": [
                {
                  "id": "173881918779537@lid",
                  "phoneNumber": "558296340393@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "203538667942139@lid",
                  "phoneNumber": "554188869779@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "60958554738772@lid",
                  "phoneNumber": "5521982494172@s.whatsapp.net",
                  "admin": "superadmin"
                },
                {
                  "id": "88729762943183@lid",
                  "phoneNumber": "5516993388989@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "150852857757875@lid",
                  "phoneNumber": "551152866796@s.whatsapp.net",
                  "admin": null
                }
              ]
            },
            {
              "id": "120363418859556447@g.us",
              "subject": "#7901825 Ágatha | NexIA",
              "subjectOwner": "60958554738772@lid",
              "subjectTime": 1743100215,
              "pictureUrl": "https://pps.whatsapp.net/v/t61.24694-24/485014503_1947283662744567_3430206132319962246_n.jpg?ccb=11-4&oh=01_Q5Aa4QFcJNZdD-lSpACBClWM5O47DFXg_orDPNEguegHxAZXrg&oe=69E0F6C9&_nc_sid=5e03e0&_nc_cat=100",
              "size": 6,
              "creation": 1743084718,
              "owner": "60958554738772@lid",
              "restrict": false,
              "announce": false,
              "isCommunity": false,
              "isCommunityAnnounce": false,
              "participants": [
                {
                  "id": "173310621044878@lid",
                  "phoneNumber": "555496232923@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "197663689596994@lid",
                  "phoneNumber": "555189242448@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "140333912465417@lid",
                  "phoneNumber": "554792527233@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "203538667942139@lid",
                  "phoneNumber": "554188869779@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "60958554738772@lid",
                  "phoneNumber": "5521982494172@s.whatsapp.net",
                  "admin": "superadmin"
                },
                {
                  "id": "150852857757875@lid",
                  "phoneNumber": "551152866796@s.whatsapp.net",
                  "admin": null
                }
              ]
            },
            {
              "id": "120363419579721619@g.us",
              "subject": "#7901625 João | NexIA",
              "subjectOwner": "60958554738772@lid",
              "subjectTime": 1743097951,
              "pictureUrl": "https://pps.whatsapp.net/v/t61.24694-24/485754979_1329751254917056_5042202730908467034_n.jpg?ccb=11-4&oh=01_Q5Aa4QFGclJTLDyw0b00Wr6PTM_sWY_xtiu2RytlHq_QIM08iw&oe=69E0D216&_nc_sid=5e03e0&_nc_cat=108",
              "size": 6,
              "creation": 1742914116,
              "owner": "203538667942139@lid",
              "restrict": false,
              "announce": false,
              "isCommunity": false,
              "isCommunityAnnounce": false,
              "participants": [
                {
                  "id": "256907814154440@lid",
                  "phoneNumber": "555191802426@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "203538667942139@lid",
                  "phoneNumber": "554188869779@s.whatsapp.net",
                  "admin": "superadmin"
                },
                {
                  "id": "60958554738772@lid",
                  "phoneNumber": "5521982494172@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "150852857757875@lid",
                  "phoneNumber": "551152866796@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "191508363882517@lid",
                  "phoneNumber": "33768834501@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "199853468590263@lid",
                  "phoneNumber": "33652001862@s.whatsapp.net",
                  "admin": null
                }
              ]
            },
            {
              "id": "120363400645346964@g.us",
              "subject": "#7903525 NexIA + Leonardo",
              "subjectOwner": "60958554738772@lid",
              "subjectTime": 1750689283,
              "pictureUrl": "https://pps.whatsapp.net/v/t61.24694-24/508608584_2131378780715775_6659536410220539031_n.jpg?ccb=11-4&oh=01_Q5Aa4QHVjvNNwUHyEJzjtO2nwinySirF-ouA8D5IEEtwS9P7NA&oe=69E0EBA1&_nc_sid=5e03e0&_nc_cat=108",
              "size": 6,
              "creation": 1750689283,
              "owner": "60958554738772@lid",
              "restrict": false,
              "announce": false,
              "isCommunity": false,
              "isCommunityAnnounce": false,
              "participants": [
                {
                  "id": "197272159699115@lid",
                  "phoneNumber": "554988547075@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "203538667942139@lid",
                  "phoneNumber": "554188869779@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "60958554738772@lid",
                  "phoneNumber": "5521982494172@s.whatsapp.net",
                  "admin": "superadmin"
                },
                {
                  "id": "174422933655686@lid",
                  "phoneNumber": "5521979516824@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "98664122953897@lid",
                  "phoneNumber": "5521972859098@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "150852857757875@lid",
                  "phoneNumber": "551152866796@s.whatsapp.net",
                  "admin": null
                }
              ]
            },
            {
              "id": "120363422253181692@g.us",
              "subject": "#7904225 NexIA + Raphael Tin",
              "subjectOwner": "60958554738772@lid",
              "subjectTime": 1758567361,
              "pictureUrl": "https://pps.whatsapp.net/v/t61.24694-24/528695460_1325168715620416_4228965879650982479_n.jpg?ccb=11-4&oh=01_Q5Aa4QGUkIUxCKP3tz1OcYkL1QFSTM7nRAri64Kdgrq68IhEFw&oe=69E0F81E&_nc_sid=5e03e0&_nc_cat=110",
              "size": 6,
              "creation": 1758567361,
              "owner": "60958554738772@lid",
              "desc": "*Escopo do Projeto*\n\nhttps://docs.google.com/document/d/1vVhbhw-JtO0OJYhkCj6svwTYygK3sDXG/edit?usp=sharing&ouid=104085090406036126912&rtpof=true&sd=true",
              "descId": "C3005A3D211147DF",
              "restrict": false,
              "announce": false,
              "isCommunity": false,
              "isCommunityAnnounce": false,
              "participants": [
                {
                  "id": "203538667942139@lid",
                  "phoneNumber": "554188869779@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "60958554738772@lid",
                  "phoneNumber": "5521982494172@s.whatsapp.net",
                  "admin": "superadmin"
                },
                {
                  "id": "96783011176478@lid",
                  "phoneNumber": "5519991852170@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "59408088350962@lid",
                  "phoneNumber": "5511991674295@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "273005418676344@lid",
                  "phoneNumber": "5511983789662@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "150852857757875@lid",
                  "phoneNumber": "551152866796@s.whatsapp.net",
                  "admin": null
                }
              ]
            },
            {
              "id": "120363405919150645@g.us",
              "subject": "#7900526 NexIA + Jonas | KW",
              "subjectOwner": "60958554738772@lid",
              "subjectTime": 1774870402,
              "pictureUrl": "https://pps.whatsapp.net/v/t61.24694-24/636970284_928321140114598_410340768680087971_n.jpg?ccb=11-4&oh=01_Q5Aa4QHskZT83A2IYcxVWjcdsAgFMv9n5fvgCIxaGHEJyma7rw&oe=69E0F28F&_nc_sid=5e03e0&_nc_cat=111",
              "size": 6,
              "creation": 1774870402,
              "owner": "60958554738772@lid",
              "restrict": false,
              "announce": false,
              "isCommunity": false,
              "isCommunityAnnounce": false,
              "participants": [
                {
                  "id": "203538667942139@lid",
                  "phoneNumber": "554188869779@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "60958554738772@lid",
                  "phoneNumber": "5521982494172@s.whatsapp.net",
                  "admin": "superadmin"
                },
                {
                  "id": "129111112597657@lid",
                  "phoneNumber": "5511991067441@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "254206279729155@lid",
                  "phoneNumber": "5511983936556@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "263470910058511@lid",
                  "phoneNumber": "5511918292280@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "150852857757875@lid",
                  "phoneNumber": "551152866796@s.whatsapp.net",
                  "admin": null
                }
              ]
            },
            {
              "id": "120363406903343705@g.us",
              "subject": "#7904525 NexIA + Dra. Priscilla Leitner",
              "subjectOwner": "60958554738772@lid",
              "subjectTime": 1765376278,
              "pictureUrl": "https://pps.whatsapp.net/v/t61.24694-24/597706635_1631720531318542_3298698981345689472_n.jpg?ccb=11-4&oh=01_Q5Aa4QFMrrpnlmBEvWqqf4tAz70CiOYAsh4Gr7uYDUsc5klR4w&oe=69E0D327&_nc_sid=5e03e0&_nc_cat=111",
              "size": 7,
              "creation": 1765376278,
              "owner": "60958554738772@lid",
              "restrict": false,
              "announce": false,
              "isCommunity": false,
              "isCommunityAnnounce": false,
              "participants": [
                {
                  "id": "279078535954631@lid",
                  "phoneNumber": "554199673532@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "218064247345303@lid",
                  "phoneNumber": "554196943113@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "160180822130804@lid",
                  "phoneNumber": "554192750450@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "203538667942139@lid",
                  "phoneNumber": "554188869779@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "56092407111727@lid",
                  "phoneNumber": "554130230450@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "60958554738772@lid",
                  "phoneNumber": "5521982494172@s.whatsapp.net",
                  "admin": "superadmin"
                },
                {
                  "id": "150852857757875@lid",
                  "phoneNumber": "551152866796@s.whatsapp.net",
                  "admin": null
                }
              ]
            },
            {
              "id": "120363421236239945@g.us",
              "subject": "#7903825 NexIA + Economista Sincero",
              "subjectOwner": "60958554738772@lid",
              "subjectTime": 1753275678,
              "pictureUrl": "https://pps.whatsapp.net/v/t61.24694-24/516749431_3979881325644045_5538679847634554190_n.jpg?ccb=11-4&oh=01_Q5Aa4QFP9UmsPQiZf0drfP7vE4_dEIU0WTPgiJwOft21R8v_Dw&oe=69E0E7EE&_nc_sid=5e03e0&_nc_cat=104",
              "size": 7,
              "creation": 1752851072,
              "owner": "162728039731232@lid",
              "desc": "🗂️ Drive - [EVL] NexAI\nhttps://drive.google.com/drive/folders/1EbHatTdkdUcN_OJhpynA5419LHSMc3l2?usp=drive_link\n\n📑 Informações gerais\nhttps://docs.google.com/document/d/1-Q_-EmY-Cd3O6WjHanRZ8VQULfTM3okltL3CwJ5QRzQ/edit?usp=sharing",
              "descId": "c4fcd595-86ca-4a1d-8c3b-72de601b2ad4",
              "restrict": false,
              "announce": false,
              "isCommunity": false,
              "isCommunityAnnounce": false,
              "participants": [
                {
                  "id": "248055920115943@lid",
                  "phoneNumber": "554796565456@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "26070585725010@lid",
                  "phoneNumber": "554796223736@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "199290811089066@lid",
                  "phoneNumber": "554791242218@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "203538667942139@lid",
                  "phoneNumber": "554188869779@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "60958554738772@lid",
                  "phoneNumber": "5521982494172@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "96679881629773@lid",
                  "phoneNumber": "5519998811601@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "150852857757875@lid",
                  "phoneNumber": "551152866796@s.whatsapp.net",
                  "admin": null
                }
              ]
            },
            {
              "id": "120363388615858176@g.us",
              "subject": "Tech | NexIA Lab",
              "subjectOwner": "60958554738772@lid",
              "subjectTime": 1748346693,
              "pictureUrl": "https://pps.whatsapp.net/v/t61.24694-24/473399579_959187936281453_7074868933501884374_n.jpg?ccb=11-4&oh=01_Q5Aa4QGkYF2-P6xQ0vLFFmKHLM1JmNk3b96kQyOIpYleSs2Yjw&oe=69E0CBAB&_nc_sid=5e03e0&_nc_cat=110",
              "size": 8,
              "creation": 1736951249,
              "owner": "203538667942139@lid",
              "desc": "acessos@nexialab.com.br\nLHTQW5dU<FeUCG7g\nCódigo para final **72\n\nID VISUAL NEXIA LAB\nhttps://drive.google.com/drive/folders/1KZ7Rt06fJHW0xF3izzSXKdZ-2SkctLbN?usp=sharing\n\nNÚMEROS WHTASAPP NEXIA LAB\nhttps://brdid.com.br/\ntroquei o email para acessos@nexialab.com.br\nsenha: SpBtPTDTAsz87l\n\nACESSO GATHER\nhttps://app.v2.gather.town/app/1381e772-ebd2-47c1-b3ea-84c172b5fe86/invite/45a3c08c-06a6-48da-ac48-19382c004788?copysource=peoplePanel\n\nPASTA DO DRIVE NEXIA LAB:\nhttps://drive.google.com/drive/folders/0AKcpctkOJz2iUk9PVA\n\nSTATUS DOS PROJETOS\nhttps://docs.google.com/spreadsheets/d/1Vi8QJ_H-AeKLOJhNo9aOR_k2BmMLwPFKWNzbW2iLVgU/edit?gid=0#gid=0",
              "descId": "3B5EF7A855FF5986",
              "restrict": false,
              "announce": false,
              "isCommunity": false,
              "isCommunityAnnounce": false,
              "participants": [
                {
                  "id": "146776363372658@lid",
                  "phoneNumber": "558596991574@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "116196380790853@lid",
                  "phoneNumber": "558299474715@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "173881918779537@lid",
                  "phoneNumber": "558296340393@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "203538667942139@lid",
                  "phoneNumber": "554188869779@s.whatsapp.net",
                  "admin": "superadmin"
                },
                {
                  "id": "8955023630474@lid",
                  "phoneNumber": "553171875159@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "60958554738772@lid",
                  "phoneNumber": "5521982494172@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "273830069178511@lid",
                  "phoneNumber": "5514997999195@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "150852857757875@lid",
                  "phoneNumber": "551152866796@s.whatsapp.net",
                  "admin": null
                }
              ]
            },
            {
              "id": "120363398289050589@g.us",
              "subject": "#7900625 Projeto IA - Isa + Nexia",
              "subjectOwner": "60958554738772@lid",
              "subjectTime": 1740667147,
              "pictureUrl": "https://pps.whatsapp.net/v/t61.24694-24/475207323_1541756343047341_6296778912459961452_n.jpg?ccb=11-4&oh=01_Q5Aa4QG2uo2Pz8zAMeoohmk3CNTFnUD8HHmsVQn5BXrosZf1gA&oe=69E0C85A&_nc_sid=5e03e0&_nc_cat=105",
              "size": 8,
              "creation": 1738936516,
              "owner": "203538667942139@lid",
              "desc": "Pasta geral:\nhttps://drive.google.com/drive/folders/14zw7D5qXekqDR2jibK9_KM07ZYJXEYs1\n\nLink docs com infos do projeto \nhttps://docs.google.com/document/d/1Sn2fpLy8SkRPIRyBtTmbGDTpM1UEw-QCdNkBgUS7v8I/edit?tab=t.0\n\nModelo ICP -  https://docs.google.com/document/d/1YfhWKeFVYGHrjGhjZdiKvykpZxL-f2MH/edit#heading=h.gjdgxs\n\nDoc de ajustes Kira (venda de ingressos)\n\nhttps://docs.google.com/document/d/1SuAOXUDzNwC6L6vawibnf67DAXG8lNW-dyK4YDxOEOk/edit?tab=t.0#heading=h.6qg3layyfsuq",
              "descId": "DA782DC3F2420614",
              "restrict": false,
              "announce": false,
              "isCommunity": false,
              "isCommunityAnnounce": false,
              "participants": [
                {
                  "id": "203538667942139@lid",
                  "phoneNumber": "554188869779@s.whatsapp.net",
                  "admin": "superadmin"
                },
                {
                  "id": "59223371182151@lid",
                  "phoneNumber": "5521988962962@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "211497192005767@lid",
                  "phoneNumber": "5521988494501@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "191937961304073@lid",
                  "phoneNumber": "5521986602066@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "144427284701431@lid",
                  "phoneNumber": "5521983922972@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "60958554738772@lid",
                  "phoneNumber": "5521982494172@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "57256544571473@lid",
                  "phoneNumber": "5511994532837@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "150852857757875@lid",
                  "phoneNumber": "551152866796@s.whatsapp.net",
                  "admin": null
                }
              ]
            },
            {
              "id": "120363402292733719@g.us",
              "subject": "[APP] Nexia + Isa +",
              "subjectOwner": "203538667942139@lid",
              "subjectTime": 1745855102,
              "pictureUrl": "https://pps.whatsapp.net/v/t61.24694-24/491842619_1581362446061288_6445508451191348224_n.jpg?ccb=11-4&oh=01_Q5Aa4QGIgM52IZPutUUsAL4Kgwt7Z36H3Rc1bFLI4n9_ZWAfoQ&oe=69E0F236&_nc_sid=5e03e0&_nc_cat=109",
              "size": 8,
              "creation": 1745855102,
              "owner": "203538667942139@lid",
              "restrict": false,
              "announce": false,
              "isCommunity": false,
              "isCommunityAnnounce": false,
              "participants": [
                {
                  "id": "203538667942139@lid",
                  "phoneNumber": "554188869779@s.whatsapp.net",
                  "admin": "superadmin"
                },
                {
                  "id": "8955023630474@lid",
                  "phoneNumber": "553171875159@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "59223371182151@lid",
                  "phoneNumber": "5521988962962@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "211497192005767@lid",
                  "phoneNumber": "5521988494501@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "191937961304073@lid",
                  "phoneNumber": "5521986602066@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "144427284701431@lid",
                  "phoneNumber": "5521983922972@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "60958554738772@lid",
                  "phoneNumber": "5521982494172@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "150852857757875@lid",
                  "phoneNumber": "551152866796@s.whatsapp.net",
                  "admin": null
                }
              ]
            },
            {
              "id": "120363418084341099@g.us",
              "subject": "#7901525 | PBE - Fernanda Landeiro  | NexIA",
              "subjectOwner": "203538667942139@lid",
              "subjectTime": 1743000425,
              "pictureUrl": "https://pps.whatsapp.net/v/t61.24694-24/483488630_1021280273221495_3743707910092317780_n.jpg?ccb=11-4&oh=01_Q5Aa4QGKZgbcOjgE42Cw7C4cKyFmQ2hMWYacW8eQVw-wuVTcmQ&oe=69E0C985&_nc_sid=5e03e0&_nc_cat=109",
              "size": 8,
              "creation": 1742394268,
              "owner": "60958554738772@lid",
              "desc": "PASTA COMPARTILHADA: https://drive.google.com/drive/folders/122Es_5KUQBKLv1DhFvbvY41f27AWvT6P?usp=sharing",
              "descId": "A9B435AF8D360BD9",
              "restrict": false,
              "announce": false,
              "isCommunity": false,
              "isCommunityAnnounce": false,
              "participants": [
                {
                  "id": "30477557743706@lid",
                  "phoneNumber": "557181128281@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "84082927108123@lid",
                  "phoneNumber": "555199604373@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "72490810364019@lid",
                  "phoneNumber": "555198559373@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "261082857885844@lid",
                  "phoneNumber": "555196631632@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "253952926953482@lid",
                  "phoneNumber": "555189446935@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "203538667942139@lid",
                  "phoneNumber": "554188869779@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "60958554738772@lid",
                  "phoneNumber": "5521982494172@s.whatsapp.net",
                  "admin": "superadmin"
                },
                {
                  "id": "150852857757875@lid",
                  "phoneNumber": "551152866796@s.whatsapp.net",
                  "admin": null
                }
              ]
            },
            {
              "id": "120363421166819616@g.us",
              "subject": "#7904425 NexIA + Mira",
              "subjectOwner": "60958554738772@lid",
              "subjectTime": 1760973691,
              "pictureUrl": "https://pps.whatsapp.net/v/t61.24694-24/568323654_2375837682836007_2730006835250386225_n.jpg?ccb=11-4&oh=01_Q5Aa4QEeFFRYTE-xVY0gPNi4tUSBC7eODPO8VtucqtkzlPzIyQ&oe=69E0F53D&_nc_sid=5e03e0&_nc_cat=103",
              "size": 9,
              "creation": 1760973691,
              "owner": "60958554738772@lid",
              "desc": "Arquivos:\nhttps://drive.google.com/drive/folders/10Vs_o55hGV7Qw3KY0CW6BcZ5flcyvQl5?usp=drive_link",
              "descId": "45e6ba41-3cff-4496-94fa-3e2f00161b69",
              "restrict": false,
              "announce": false,
              "isCommunity": false,
              "isCommunityAnnounce": false,
              "participants": [
                {
                  "id": "203538667942139@lid",
                  "phoneNumber": "554188869779@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "236287877455964@lid",
                  "phoneNumber": "553299917440@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "148159326109915@lid",
                  "phoneNumber": "553171549572@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "82897465802818@lid",
                  "phoneNumber": "5524998360596@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "60958554738772@lid",
                  "phoneNumber": "5521982494172@s.whatsapp.net",
                  "admin": "superadmin"
                },
                {
                  "id": "186199834652879@lid",
                  "phoneNumber": "5511976753272@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "118309236301857@lid",
                  "phoneNumber": "5511970742340@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "20860740100294@lid",
                  "phoneNumber": "5511947772989@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "150852857757875@lid",
                  "phoneNumber": "551152866796@s.whatsapp.net",
                  "admin": null
                }
              ]
            },
            {
              "id": "120363390959646296@g.us",
              "subject": "#7900425 Gustavo + NexIA",
              "subjectOwner": "60958554738772@lid",
              "subjectTime": 1740666823,
              "pictureUrl": "https://pps.whatsapp.net/v/t61.24694-24/473399283_649962924178462_5360151731500089526_n.jpg?ccb=11-4&oh=01_Q5Aa4QECRQYlj8ICKYZ9nKesnmouXo3CEqYRz9YQ851_VIo8Nw&oe=69E0DC5D&_nc_sid=5e03e0&_nc_cat=109",
              "size": 9,
              "creation": 1736515091,
              "owner": "203538667942139@lid",
              "restrict": false,
              "announce": false,
              "isCommunity": false,
              "isCommunityAnnounce": false,
              "participants": [
                {
                  "id": "124455451947214@lid",
                  "phoneNumber": "556181477050@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "76802705891332@lid",
                  "phoneNumber": "554195645555@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "203538667942139@lid",
                  "phoneNumber": "554188869779@s.whatsapp.net",
                  "admin": "superadmin"
                },
                {
                  "id": "60958554738772@lid",
                  "phoneNumber": "5521982494172@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "125082466832395@lid",
                  "phoneNumber": "5511981909893@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "44740775002251@lid",
                  "phoneNumber": "5511981538149@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "17699677675767@lid",
                  "phoneNumber": "5511971594200@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "118498231582725@lid",
                  "phoneNumber": "5511944666866@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "150852857757875@lid",
                  "phoneNumber": "551152866796@s.whatsapp.net",
                  "admin": null
                }
              ]
            },
            {
              "id": "120363402397878674@g.us",
              "subject": "#7901525 NexIA + Landeirinho",
              "subjectOwner": "60958554738772@lid",
              "subjectTime": 1758572197,
              "pictureUrl": "https://pps.whatsapp.net/v/t61.24694-24/534421759_761677846770026_1347473870936005954_n.jpg?ccb=11-4&oh=01_Q5Aa4QF6r1guuro1MfKb9tXYyAL6Pxbzs3ucL7lFTa15ICVClQ&oe=69E0F7E7&_nc_sid=5e03e0&_nc_cat=101",
              "size": 9,
              "creation": 1758572197,
              "owner": "60958554738772@lid",
              "restrict": false,
              "announce": false,
              "isCommunity": false,
              "isCommunityAnnounce": false,
              "participants": [
                {
                  "id": "187067350913165@lid",
                  "phoneNumber": "557196962209@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "84082927108123@lid",
                  "phoneNumber": "555199604373@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "276286756921587@lid",
                  "phoneNumber": "555199094733@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "72490810364019@lid",
                  "phoneNumber": "555198559373@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "163629999587558@lid",
                  "phoneNumber": "555196635132@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "253952926953482@lid",
                  "phoneNumber": "555189446935@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "203538667942139@lid",
                  "phoneNumber": "554188869779@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "60958554738772@lid",
                  "phoneNumber": "5521982494172@s.whatsapp.net",
                  "admin": "superadmin"
                },
                {
                  "id": "150852857757875@lid",
                  "phoneNumber": "551152866796@s.whatsapp.net",
                  "admin": null
                }
              ]
            },
            {
              "id": "120363379615641616@g.us",
              "subject": "#7900525 Projeto Poker + Nexia",
              "subjectOwner": "60958554738772@lid",
              "subjectTime": 1740771871,
              "pictureUrl": "https://pps.whatsapp.net/v/t61.24694-24/473409312_1429907721467234_2058436130135546002_n.jpg?ccb=11-4&oh=01_Q5Aa4QHCyexExRy_FQO5ldLzquuuTQrOw6Jhmx6rzqNC83YrSw&oe=69E0F05A&_nc_sid=5e03e0&_nc_cat=102",
              "size": 9,
              "creation": 1738872026,
              "owner": "203538667942139@lid",
              "restrict": false,
              "announce": false,
              "isCommunity": false,
              "isCommunityAnnounce": false,
              "participants": [
                {
                  "id": "67237830463715@lid",
                  "phoneNumber": "558488776890@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "236601175228538@lid",
                  "phoneNumber": "555499456069@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "203538667942139@lid",
                  "phoneNumber": "554188869779@s.whatsapp.net",
                  "admin": "superadmin"
                },
                {
                  "id": "32951106592906@lid",
                  "phoneNumber": "553299086221@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "60958554738772@lid",
                  "phoneNumber": "5521982494172@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "200252984451321@lid",
                  "phoneNumber": "5521982351770@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "75144798158962@lid",
                  "phoneNumber": "5511999533108@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "19456268959911@lid",
                  "phoneNumber": "5511992253882@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "150852857757875@lid",
                  "phoneNumber": "551152866796@s.whatsapp.net",
                  "admin": null
                }
              ]
            },
            {
              "id": "120363418310775527@g.us",
              "subject": "#7902625 VemMED - Nexia",
              "subjectOwner": "60958554738772@lid",
              "subjectTime": 1745528540,
              "pictureUrl": "https://pps.whatsapp.net/v/t61.24694-24/487110761_1015569496804814_3771740675674672435_n.jpg?ccb=11-4&oh=01_Q5Aa4QFdtjXPt2QqMyj1u92rCQFjAaQatkg3mJRNzdMUSPBs1w&oe=69E0C2D0&_nc_sid=5e03e0&_nc_cat=105",
              "size": 10,
              "creation": 1745412284,
              "owner": "203538667942139@lid",
              "desc": "Informações para o Projeto\nhttps://drive.google.com/drive/folders/1jFAGoD4FJIm2OoaXT0zLFoH-j1-DOl_q",
              "descId": "06B014C8FE911130",
              "restrict": false,
              "announce": false,
              "isCommunity": false,
              "isCommunityAnnounce": false,
              "participants": [
                {
                  "id": "116196380790853@lid",
                  "phoneNumber": "558299474715@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "203538667942139@lid",
                  "phoneNumber": "554188869779@s.whatsapp.net",
                  "admin": "superadmin"
                },
                {
                  "id": "177030062727181@lid",
                  "phoneNumber": "553197812377@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "133642789638263@lid",
                  "phoneNumber": "553191379521@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "268023172698203@lid",
                  "phoneNumber": "553188032377@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "200365274300654@lid",
                  "phoneNumber": "553185079016@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "280556491300884@lid",
                  "phoneNumber": "553181047028@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "93093651058747@lid",
                  "phoneNumber": "553181039963@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "60958554738772@lid",
                  "phoneNumber": "5521982494172@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "150852857757875@lid",
                  "phoneNumber": "551152866796@s.whatsapp.net",
                  "admin": null
                }
              ]
            },
            {
              "id": "120363403626249160@g.us",
              "subject": "#7904125 NexIA + MedConcursos",
              "subjectOwner": "129690983477440@lid",
              "subjectTime": 1756908469,
              "pictureUrl": "https://pps.whatsapp.net/v/t61.24694-24/542919505_1312969066895676_6940167135864074800_n.jpg?ccb=11-4&oh=01_Q5Aa4QF0WFULyTMiP4fSLDGUnTraob98wKhvCAmLiQupHu4Rtw&oe=69E0DE9D&_nc_sid=5e03e0&_nc_cat=102",
              "size": 11,
              "creation": 1756908430,
              "owner": "60958554738772@lid",
              "desc": "📁ESCOPO DO PROJETO\nhttps://docs.google.com/document/d/1Fe2o0heDKWKUMF7vI1UOgX0J-wUrtY4s/edit?usp=sharing&ouid=104085090406036126912&rtpof=true&sd=true\n\n✉️EMAIL DO CLIENTE\nyago@orgao.cc",
              "descId": "292C2E8F533E002D",
              "restrict": false,
              "announce": false,
              "isCommunity": false,
              "isCommunityAnnounce": false,
              "participants": [
                {
                  "id": "263023814009048@lid",
                  "phoneNumber": "558581535734@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "83022321844361@lid",
                  "phoneNumber": "558198185809@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "164677719998588@lid",
                  "phoneNumber": "558196630405@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "191005886255225@lid",
                  "phoneNumber": "558188579526@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "134471349194991@lid",
                  "phoneNumber": "558188316045@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "203538667942139@lid",
                  "phoneNumber": "554188869779@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "261735323799633@lid",
                  "phoneNumber": "553884277447@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "128445308743899@lid",
                  "phoneNumber": "553197473722@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "129690983477440@lid",
                  "phoneNumber": "553187906668@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "60958554738772@lid",
                  "phoneNumber": "5521982494172@s.whatsapp.net",
                  "admin": "superadmin"
                },
                {
                  "id": "150852857757875@lid",
                  "phoneNumber": "551152866796@s.whatsapp.net",
                  "admin": null
                }
              ]
            },
            {
              "id": "120363421875574994@g.us",
              "subject": "#7901525 Prática Clínica Simulada IA - GrupoPBE",
              "subjectOwner": "60958554738772@lid",
              "subjectTime": 1759517709,
              "pictureUrl": "https://pps.whatsapp.net/v/t61.24694-24/558075157_1500240610892418_8133061121107257826_n.jpg?ccb=11-4&oh=01_Q5Aa4QEAYa942kuaL72AS19Dwi_hP_L5SFaoxvzB0AhqZh_iNw&oe=69E0F467&_nc_sid=5e03e0&_nc_cat=109",
              "size": 14,
              "creation": 1753734923,
              "owner": "203538667942139@lid",
              "restrict": false,
              "announce": false,
              "isCommunity": false,
              "isCommunityAnnounce": false,
              "participants": [
                {
                  "id": "187067350913165@lid",
                  "phoneNumber": "557196962209@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "84082927108123@lid",
                  "phoneNumber": "555199604373@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "35541391249464@lid",
                  "phoneNumber": "555199160471@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "276286756921587@lid",
                  "phoneNumber": "555199094733@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "72490810364019@lid",
                  "phoneNumber": "555198559373@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "263432137891936@lid",
                  "phoneNumber": "555198388892@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "163629999587558@lid",
                  "phoneNumber": "555196635132@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "253952926953482@lid",
                  "phoneNumber": "555189446935@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "117107165499590@lid",
                  "phoneNumber": "555180249269@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "194704289312842@lid",
                  "phoneNumber": "555180178358@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "203538667942139@lid",
                  "phoneNumber": "554188869779@s.whatsapp.net",
                  "admin": "superadmin"
                },
                {
                  "id": "60958554738772@lid",
                  "phoneNumber": "5521982494172@s.whatsapp.net",
                  "admin": "admin"
                },
                {
                  "id": "216470697074890@lid",
                  "phoneNumber": "5511999766590@s.whatsapp.net",
                  "admin": null
                },
                {
                  "id": "150852857757875@lid",
                  "phoneNumber": "551152866796@s.whatsapp.net",
                  "admin": null
                }
              ]
            }
          ]
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Evolution Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook-bk.nexialab.com.br",
            "user-agent": "axios/1.13.2",
            "content-length": "1212",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "128.140.39.180",
            "x-forwarded-host": "webhook-bk.nexialab.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "11bb8ee5bbbb",
            "x-real-ip": "128.140.39.180"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "wttpGuard1",
            "data": {
              "key": {
                "remoteJid": "120363425969848999@g.us",
                "fromMe": false,
                "id": "3EB07E62A13EE3634D451D",
                "participant": "8955023630474@lid",
                "participantAlt": "553171875159@s.whatsapp.net",
                "addressingMode": "lid"
              },
              "pushName": "Gabriel Moraes",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "só um teste pra coletar o id",
                "messageContextInfo": {
                  "threadId": [],
                  "messageSecret": {
                    "0": 27,
                    "1": 78,
                    "2": 223,
                    "3": 37,
                    "4": 242,
                    "5": 174,
                    "6": 116,
                    "7": 100,
                    "8": 174,
                    "9": 172,
                    "10": 33,
                    "11": 15,
                    "12": 213,
                    "13": 86,
                    "14": 24,
                    "15": 218,
                    "16": 108,
                    "17": 44,
                    "18": 42,
                    "19": 84,
                    "20": 187,
                    "21": 88,
                    "22": 103,
                    "23": 44,
                    "24": 190,
                    "25": 7,
                    "26": 70,
                    "27": 77,
                    "28": 172,
                    "29": 241,
                    "30": 132,
                    "31": 188
                  },
                  "limitSharingV2": {
                    "sharingLimited": false,
                    "trigger": 0,
                    "limitSharingSettingTimestamp": {
                      "low": 0,
                      "high": 0,
                      "unsigned": false
                    },
                    "initiatedByMe": false
                  }
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1775488114,
              "instanceId": "72cd42a1-48e4-4868-85e7-71826a7e1d5f",
              "source": "web"
            },
            "destination": "https://webhook-bk.nexialab.com.br/webhook/evolution-group-moderation",
            "date_time": "2026-04-06T12:08:34.539Z",
            "sender": "551152866796@s.whatsapp.net",
            "server_url": "https://evolution.nexialab.com.br",
            "apikey": "83B9EC05705A-4C65-8B3A-53B7D2CC50E7"
          },
          "webhookUrl": "https://webhook-bk.nexialab.com.br/webhook/evolution-group-moderation",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Evolution Webhook": {
      "main": [
        [
          {
            "node": "É O GRUPO DE TESTE?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Event": {
      "main": [
        [
          {
            "node": "If Group Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Group Message": {
      "main": [
        [
          {
            "node": "Load Group Policy",
            "type": "main",
            "index": 0
          },
          {
            "node": "Find Group Members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Group Policy": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Evaluate Moderation": {
      "main": [
        [
          {
            "node": "If Should Moderate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Should Moderate": {
      "main": [
        [
          {
            "node": "Log Incident",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Delete Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Remove Participant",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Admin Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Delete Message": {
      "main": [
        [
          {
            "node": "Deletar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Remove Participant": {
      "main": [
        [
          {
            "node": "Atualizar membros do grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Admin Alert": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Participant Update": {
      "main": [
        [
          {
            "node": "Prepare Participant Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Participant Rows": {
      "main": [
        [
          {
            "node": "Upsert Participant Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Buscar grupos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Groups": {
      "main": [
        []
      ]
    },
    "Explode Groups": {
      "main": [
        [
          {
            "node": "Upsert Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 10 Minutes": {
      "main": [
        [
          {
            "node": "Aggregate Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Signals": {
      "main": [
        [
          {
            "node": "Calculate Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Score": {
      "main": [
        [
          {
            "node": "Upsert Contact Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar membros do grupo": {
      "main": [
        []
      ]
    },
    "Buscar grupos1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Explode Groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É O GRUPO DE TESTE?": {
      "main": [
        [
          {
            "node": "Normalize Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Group Members2": {
      "main": [
        []
      ]
    },
    "Find Group Members": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Evaluate Moderation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5fb2fde8-2afb-4779-a0ce-30c693920adc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d9b340434e81fbeb522559418bc2061aaa35af66b7e8717d9a3084e313532eee"
  },
  "id": "Fb9wFGfSrstWsmlb",
  "tags": []
}